#contacts{
    display:grid;
    grid-template-columns: auto auto auto; 
    text-align: center;
    padding-bottom: 80px;
    grid-column-gap: 10px;
}/*
#contacts>*{
    border: solid black 3px;
    
}  */


#contacts>#emailcontact{
    grid-column: 1 / span 1;
}

#contacts>#linkedcontact{
    grid-column: 2 / span 1;
}

#contacts>#githubcontact{
    grid-column: 3 / span 1;
}

#prompt{
    display:grid;
    grid-template-columns: auto auto auto; 
    text-align: center;
    padding-bottom: 50px;
    grid-column-gap: 8px;
  
}
#prompt>form{
    grid-column: 1 / span 2;
    width: 80ch;
}

#prompt>#happy{
    grid-column: 3 / span 1;
}
fieldset{
    padding: 15px;
}
legend {
    padding: 5px 10px;
}

h3 {
    padding: 10px;
}

#happyface {
    display:grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}

#happyface>h3{
    grid-column-start: 1;
    grid-column-end: 3;
}
#happyface>button{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#happyface>svg{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

svg {
  transition: transform 3s;
}

svg:hover {
  transform: scale(2.5);
}

button {
    border: solid #695BA0 1px; 
    border-radius: 25px;
    padding: 10px 25px;
    background-color: white;
    color: #695BA0;
}

button:hover {
    background-color: rgba(105, 91, 160, 0.2);
}

@media (pointer: coarse) {
    
    #happyface>button:before{
        content: "Tap Or ";
    }
    
} 
    

@media (max-width: 1200px) {
    body {
        overflow-x: hidden !important;
    }
    svg {
        transition: transform 2s;
      }
      
      svg:hover {
        transform: scale(2);
      }

      fieldset {
        width: 700px;
        display: block;
        margin: auto;

    }

    #happyface {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
      
      
}

@media (max-width: 985px) {
    #prompt{
        display:grid;
        grid-template-columns: 1fr; 
        text-align: center;
        padding-bottom: 50px;
        place-items: center;
        justify-content: center;
    
    }
    #prompt>form{
        grid-column: 1 / span 1;
        width: 80ch;
        text-align: center;
        padding-bottom: 60px;
    }

    #prompt>#happy{
        grid-column: 1 / span 1;
    }
    #happyface {
        display:grid;
        grid-template-columns: 1fr;
        place-items: center;
        grid-row-gap: 30px;
    }

    #happyface>h3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #happyface>svg{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #happyface>button{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    fieldset {
        width: 800px;
    }
}
@media (max-width: 945px) {
    * {
        font-size: 1.3vh;
    }

    fieldset {
        width: 600px;
        display: block;
        margin: auto;

    }
    fieldset, input, textarea, select {
        border: 1px solid black;

    }
    input, textarea, select {
        border-radius: 4px;
    }
    
   
}

@media (max-width: 800px) {
    fieldset {
        width: 500px;
        display: block;
        margin: auto;

    }
}


@media (max-width: 625px) {
    #contacts{
        display:grid;
        grid-template-columns: 1fr; 
        text-align: center;
        padding-bottom: 50px;
        place-items: center;
        justify-content: center;
    }
    
    #contacts>#emailcontact{
        grid-column: 1 / span 1;
    }

    #contacts>#linkedcontact{
        grid-column: 1 / span 1;
    }

    #contacts>#githubcontact{
        grid-column: 1 / span 1;
    }

    #prompt{
        display:grid;
        grid-template-columns: 1fr; 
        text-align: center;
        padding-bottom: 50px;
        place-items: center;
        justify-content: center;
    
    }
    #prompt>form{
        grid-column: 1 / span 1;
        width: 80ch;
        text-align: center;
    }

    #prompt>#happy{
        grid-column: 1 / span 1;
    }

    #happyface {
        display:grid;
        grid-template-columns: 1fr;
        place-items: center;
        grid-row-gap: 20px;
    }

    #happyface>h3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #happyface>svg{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #happyface>button{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    section {
        margin: 10px;
    }

    h3 {
        padding: 0px;
    }

    * {
        font-size: 1.1vh;
    }
    p {
        font-size: 1.5vh;
    }

    fieldset {
        width: 400px;
        display: block;
        margin: auto;

    }


    body {
        margin: 0;
        padding: 0;
    }

    button {
        border: solid #695BA0 0.5px; 
        border-radius: 12px;
        padding: 5px 12px;
    }

    svg {
        transition: transform 2s;
      }
      
      svg:hover {
        transform: scale(2);
      }

      fieldset, input, textarea, select {
        border: 0.7px solid black;
    }
    input, textarea, select {
        border-radius: 2px;
    }

}
@media (max-width: 500px) {
    fieldset {
        width: 300px;
        display: block;
        margin: auto;
    }
    main {
        margin: 0;
    }
    * {
        font-size: 0.9vh;
    }
    textarea {
        width: 40ch;
    }
    div,section {
        grid-column-gap: 0px;
    }


}

@media (max-width: 300px) {
    * {
        font-size: 0.8vh;
    }
    fieldset {
        width: 150px;
        display: block;
        margin: auto;
    }
}











